/* start public_html/electoin/style.css */
.election-block-last {
  margin-bottom:5px;
  padding-bottom:5px;
}

.election-topic {
  font-weight:bold;
  margin-bottom:10px;
}

.election-autotag-message {
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
}

.election-autotag {
  padding: 5px;
  margin: 0 auto;

}

.election-autotag-left{
  border: .2em dotted black;
  padding: 5px;
  margin-right: auto;
}

.election-questions {
  margin-bottom:5px;
}

.election-questions ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
.election-questions ul li {
    list-style:none;
    padding:0px;
    margin:0;
}
.election-questions ul,
.election-questions td {
  font-size:0.85em;
}
.election-question {
  padding:0px;
  margin:0px;
}
.election-questions {
  padding:2px;
  background-color: #DDDDDD;
  margin:2px;
}
.block-box-right table,
.block-box-left table{
  padding:0px;
  margin:0px;
  vertical-align:top;
}
.block-box-right .election-question-table th,
.block-box-left .election-question-table th{
  font-size:1.2em;
  font-weight:normal;
}

.block-box-right .election_topic,
.block-box-left .election_topic{
  font-weight:bold;
}

.block-box-right .election_answer_text,
.block-box-left  .election_answer_text{
  text-align:left;
}

.block-box-right .election_answer_percent,
.block-box-left .election_answer_percent{
  text-align:right;
}
div#election_block h3 {
    color: inherit;
}
.elections_answers li:not(:first-child) {
    margin-top:.25em;
}
.elections_answers input {
    margin-right:1em;
}
.elections_winnertext {
    font-weight:bold;
}
/* end public_html/election/style.css */
